:vars {
  marginBetweenElements: 20px;
}

.root {
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}

.grid {
  margin-top: value(marginBetweenElements);
}

.loadMore {
  /* Override background color and border radius using the style variables */

  padding: 0 20px;
  height: 30px;
  margin-top: value(marginBetweenElements);
  cursor: pointer;
}
